<!-- header using ejs -->
<%-include('headheader');-%>
    <link rel="stylesheet" href="/css/login.css">
    <%-include('footheaderlogin');-%>    
    <!-- container for the form -->
    <div class="contain">
        <!-- form -->
        <form method='post' action='/forget_password/otp_match'>
            <div class="card">
                <div class="card-body">
                    <div class="login-header">
                        <h4 class="font-weight-bold pt-3"></h4>
                    </div>

                    <!-- ejs message if invalid credentials -->            
                    <%if(message)%>
                    <p>
                        <%=message%>
                    </p>

                    <!-- username -->
                    <div class="login-form">
                        <div class="form-group">
                            <div class="row padi">
                            <input type="hidden" id="username" name="username" value="<%=message1%>">
                                <div class="col-sm-1 pl-4"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <div class="col-sm-2 text-deco"><label for="user">OTP</label></div>
                            </div>
                            <div class="row padi">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10"> <input type='text' id="user" class="form-control" name='otp' placeholder='otp' required /></div>
                            </div>
                        </div>

                    </div>

                </div>
                   
                <div class="card-footer text-center">
                        <button class="btn btn-success self-align-flex-end" name='submit'>Submit</button>
                </div>
            </div>
            
        </form>
    </div>


    <%-include('headfooter');-%>
    <%-include('footfooter');-%>
    