<%-include('headheader');-%>
    <link rel="stylesheet" href="/css/problem.css">
    <%-include('footheader');-%>
        <div class="con">
            <div class="row header-row">
                <div class="col-lg-7">
                    <!-- description header -->
                    
                </div>
                <div class="col-lg-5 text-right">
                    <!-- checking if the message is verified or unverified and show the buttons accordingly -->
                    <%if(status === "unverified"){%>
                        <a type="button" class="btn btn-success mr-3" href="<%=problem_id%>/verify/">Verify</a>
                        <a type="button" class="btn btn-danger" href="<%= problem_id%>/discard/">Discard</a>
                    <%}%>


                </div>

            </div>
            <div class="prob-cont">
                <div class="row">

                    <div class="col-lg-9">
                        <div class="container border cont">

                            <!-- problem name,author,difficulty,tags -->
                            <div class="row padit problem-description">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <h2 class="text-capitalize font-weight-bold">
                                            <%= problem_name%>
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <p class="text-muted">Subdomain:
                                            <span class="text-capitalize text-muted"><%=subdomain%></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <div class="row">
                                        <p class="text-muted">Author:
                                            <span class="text-info">
                                                <%=author%>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="text-muted">Difficulty:
                                            <% if (difficulty=="easy") { %>
                                                <span class="text-capitalize text-success"><%= difficulty%></span>
                                                <% } %>
                                                    <% if (difficulty=="medium") { %>
                                                        <span class="text-capitalize text-warning"><%= difficulty%></span>
                                                        <% } %>
                                                            <% if (difficulty=="hard") { %>
                                                                <span class="text-capitalize text-danger"><%= difficulty%></span>
                                                                <% } %>

                                        </p>
                                    </div>

                                </div>

                            </div>

                            <hr>
                            <!-- problem statement -->
                            <div class="row padit problem_statement">

                                <div class="col">
                                    <p>
                                        <%-problem_statement%>
                                    </p>
                                </div>

                            </div>
                            <hr>
                            <!-- input format -->
                            <h5 class="padit font-weight-bold">Input:</h5>
                            <div class="row padit input">
                                <div class="col">
                                    <p>
                                        <%-input%>
                                    </p>
                                </div>
                            </div>
                            <hr>

                            <!-- contraints -->
                            <h5 class="padit font-weight-bold">Constraints:</h5>
                            <div class="row padit constraints">
                                <div class="col">
                                    <p>
                                        <%-constraints%>
                                    </p>
                                </div>
                            </div>
                            <hr>

                            <!-- output format -->
                            <h5 class="padit font-weight-bold">Output:</h5>
                            <div class="row padit output">
                                <div class="col">
                                    <p>
                                        <%-output%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <!-- sample input -->
                            <h5 class="padit font-weight-bold">Sample Input</h5>
                            <div class="row padit">
                                <div class="col sample">
                                    <p>
                                        <%-sample_in%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <!-- sample output -->
                            <h5 class="padit font-weight-bold">Sample Output</h5>
                            <div class="row padit">
                                <div class="col sample">
                                    <p>
                                        <%-sample_out%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <!-- explanations -->
                            <h5 class="padit font-weight-bold">Explanation</h5>
                            <div class="row padit">
                                <div class="col">
                                    <p>
                                        <%-explanation%>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 submission-button">
                        <button class="btn btn-primary" type = "submit" onclick = "mysub()">
                                         My Submissions
                                    </button>
                    </div>
                </div>
            </div>
        </div>
            <!-- including the editor file here  -->
            <%-include('editori');-%>
            <%-include('headfooter');-%>
            <script src="/js/jproblem.js"></script>
            <script src="/js/jide.js"></script>
            <%-include('footfooter');-%>
