<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <button type="button" formaction="/admin/problem_verification/verify/<%=problem_name%>">Verify</button>
      <button type="button" formaction="/admin/problem_verification/discard/<%=problem_name%>">Discard</button>

    </form>
    <h1>
      <%= problem_name%>
    </h1>
    <div class="problem-details">
      <p>author:<%=author%></p>
      <p>difficulty:<%=difficulty%></p>
      <p>subdomain:<%=subdomain%></p>
    </div>
    <div class="problem">
      <h3>Problem Statement</h3>
      <p><%=problem_statement%></p>
      <h3>Input Format</h3>
      <p><%=input%></p>
      <h3>Output Format</h3></h3>
      <p><%=output%></p>
      <h3>Constraints</h3>
      <p><%=constraints%></p>
      <h3>Sample Input</h3>
      <p><%=sample_in%></p>
      <h3>Sample Output</h3>
      <p><%=sample_out%></p>
      <h3>Explanation</h3>
      <p><%=explanation%></p>


    </div>
  </body>
</html>
